.container {
    padding-left: 305px;
    padding-right: 305px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding-top: 42px;
}

.titleName {
    color: #2B2B2B;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 24px;
}

.assetsContainer {
    height: 504px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    border-radius: 15px;
    background-color: #D8B16E40;
    border-left: 15px solid #585D47;
}

.assetsContainerTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Poppins";
    font-size: 28px;
    font-weight: 600;
    color: #2B2B2B;
}

.tableContainer {
    width: 100%;
    height: 80%;
    border-collapse: collapse;
    color: #2B2B2B;
}

th {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    border-collapse: collapse;
}

td {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 14px;
    border-collapse: collapse;
}

.tableTitles {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 20px;
}